body{
    background-image: url("https://seeklogo.com/images/C/carnet-logo-34FDE18225-seeklogo.com.png");
    background-color: #E00000;
}
h1{
    background-color: #C00000;
}

p{
    background-color: #E00000;
}